<!DOCTYPE html>
<html lang="en">
  <head>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>
    
    <header>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            
            <a href="index.html" class="brand brand-bootbus">Tweetipy</a>
            
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
            <div class="nav-collapse collapse">        
              <ul class="nav pull-right">


                <li><a href="#">Fork</a></li>
                <li><a href="#">Contact</a></li>
             
              </ul>
            </div>

          </div>
        </div>
      </div>
    </header>
  
    <div class="content">
      <div class="container" id="middiv">
            
            <div id="formarea" align="center">
              <form action="#" method="POST" name="hashform">
                <input type="text" name="email" placeholder="Enter Hash Tag" id="emailbox">
                <input type="submit" class="btn btn-primary" value="Submit" id="butn"> 
              </form>                  
            </div>

        <hr>
        <h2 align="center">Real Time Tweet Analysis for #IPL</h2>



         <br><br>
         
         <div id="mygrid">
         
          <div id="twet">

              <table>
                <tr>
                  <td><h4>Tweets Streamed&nbsp;</h4></td><td><h5>23</h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Hashtags Tracked&nbsp;</h4></td><td><h5>23</h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Mentions Count&nbsp;</h4></td><td><h5>23</h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Tweeting Users&nbsp;</h4></td><td><h5>23</h5></td>
                </tr>
              </table>

              <hr>

            
            <h3>Tweet Streaming</h3>

            <ul>
              <li><b>Tweet:</b> this is the #ipl ipl tagger brother</li>
              <li><b>Cleaned:</b> this is the ipl ipl tagger brother</li>
            </ul> 
            
          </div>
          
          <div id="count">
            <h3>Counters</h3>
            <table>
              <tr><td>Positive Words&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td id="td1">23</td></tr>
              <tr><td>Negative Words</td><td id="td1">23</td></tr>
              <tr><td>Avg Tweet Length</td><td id="td1">23</td></tr>
            </table>
          </div>
         
         </div>


        <hr>   


      </div>
    </div>
    

    <footer>
         
      <div class="container">
        <p>
          &copy; Developed with love by Shivam Bansal.
        </p>
      </div>

    </footer>
    
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/boot-business.js"></script>
 
  </body>
</html>
