<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/test'; 

            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            
            socket.on('my response', function(msg) {
            

            var jsonjj = JSON.parse(msg.jss)

            //$('#log').append('Your text.');
            el = document.getElementById('log');
            //$('#log').animate({width:'100%'},2000).animate({width:'0%'},2000);     
            el.innerHTML = jsonjj.mentions_count; 
            
            });

        });
    </script>
</head>
<body>
    <h1>Flask-SocketIO Test</h1>

    <h2>Receive:</h2>
    <div id="log">hi</div>

</body>
</html>
