{% if not home %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="static/js/sc.js"></script>

    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/boot-business.js"></script>



<style>
svg 
{
  font: 15px sans-serif;
  fill:#bdc3c7;
}
 
.line 
{
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}
 
.axis path,
.axis line 
{
  fill: none;
  stroke: #bdc3c7;
  shape-rendering: crispEdges;
}
</style>

<script type="text/javascript" charset="utf-8">
                  var visited_locs = []
                  $(document).ready(function(){

                    namespace = '/test';

                    var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
                    socket.on('connect', function() {
                        socket.emit('my event', {data: 'I\'m connected!'});
                    });

                    socket.on('my response', function(msg) {
                    
                    var res = JSON.parse(msg.jss)

                    twetC = document.getElementById('twetC');
                    twetC.innerHTML = res.tweet_count;
                    update(res.tweet_count)


                    hash = document.getElementById('hash');
                    hash.innerHTML = res.hashtags_count; 

                    ment = document.getElementById('ment');
                    ment.innerHTML = res.mentions_count; 

                    tuser = document.getElementById('tuser');
                    tuser.innerHTML = res.user_count; 

                    $('#birds').prepend('<br>'+res.original_tweet+'</br>')

                    poss = document.getElementById('poss');
                    poss.innerHTML = res.optimism;

                    negs = document.getElementById('negs');
                    negs.innerHTML = res.pessimism;

                    atl = document.getElementById('atl');
                    atl.innerHTML = res.average_tweet_length;

                    sp = document.getElementById('sp');
                    sp.innerHTML = res.sentiment_polarity;

                    posvity = document.getElementById('posvity');
                    posvity.innerHTML = res.positivity;

                    negvity = document.getElementById('negvity');
                    negvity.innerHTML = res.negativity;

                    CLI = document.getElementById('CLI');
                    CLI.innerHTML = res.CLI1;

                    ARI = document.getElementById('ARI');
                    ARI.innerHTML = res.ARI1;

                    wrdc = document.getElementById('wrdc');
                    wrdc.innerHTML = res.word_count;

                    rts = document.getElementById('rts');
                    rts.innerHTML = res.retweets;

                    ld = document.getElementById('ld');
                    ld.innerHTML = res.lexical;

                    hc = document.getElementById('hc');
                    hc.innerHTML = res.horizon;

                    locc = res.location1
                    var found = $.inArray(locc, visited_locs);
                    if (found == -1 && locc != "")
                    {
                      visited_locs.push(locc)
                      $('#loc').prepend('<br>'+ res.location1 +'</br>')
                    }

                    lcz = document.getElementById('lcz');
                    lcz.innerHTML = visited_locs.length;

                    nlex = document.getElementById('nlex');
                    nlex.innerHTML = res.lwd;

                    });

                });
</script>


  </head>
  <body>
    
    <header>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            
            
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
            <div class="nav-collapse collapse">        
              
              <ul class="nav pull-left">
                <li><a href="#">Tweetipy</a></li>
              </ul>

              <form class="nav" action="" method="POST" name="hashform">
                <input type="text" name="ht" placeholder="Enter Hash Tag" id="emailbox">
                <input type="submit" class="btn btn-primary" value="Submit" id="butn"> 
              </form>                  

            </div>

          </div>
        </div>
      </div>
    </header>
  
    <div class="content">
      <div class="container" id="middiv">
        <h2 align="center">Real Time Tweet Analysis for {{ tag }}</h2>
         <br>         

         <div id="mygrid">
          <div id="twetdiv">

              <table id="tabs">
                <tr>
                  <td><h4>Tweets Streamed&nbsp;</h4></td><td><h5><div id="twetC"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Hashtags Tracked&nbsp;</h4></td><td><h5><div id="hash"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Mentions Count&nbsp;</h4></td><td><h5><div id="ment"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Tweeting Users&nbsp;</h4></td><td><h5><div id="tuser"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Avg Tweet Length&nbsp;</h4></td><td><h5><div id="atl"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Coleman-Liau Index&nbsp;</h4></td><td><h5><div id="CLI"></div></h5></td>
                </tr>

                <tr>
                  <td><h4>Optimism&nbsp;</h4></td><td><h5><div id="poss"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Pessimism&nbsp;</h4></td><td><h5><div id="negs"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Positivity&nbsp;</h4></td><td><h5><div id="posvity"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Negativity&nbsp;</h4></td><td><h5><div id="negvity"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Sentiment Polarity&nbsp;</h4></td><td><h5><div id="sp"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Automated Readability Index &nbsp;</h4></td><td><h5><div id="ARI"></div></h5></td>
                </tr>

                <tr>
                  <td><h4>Word Count&nbsp;</h4></td><td><h5><div id="wrdc"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Retweets&nbsp;</h4></td><td><h5><div id="rts"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Lexical Density&nbsp;</h4></td><td><h5><div id="ld"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Horizon Content&nbsp;</h4></td><td><h5><div id="hc"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Locations Tracked&nbsp;</h4></td><td><h5><div id="lcz"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Lexical Words&nbsp;</h4></td><td><h5><div id="nlex"></div></h5></td>
                </tr>

              </table>
          </div>
            <hr>
          <div id="streamdiv">  
            <h3>Streaming</h3>
            <div id="birds">
            </div>
          </div>
          
          <div id="d3sec">
            
            <div id="grph">
            </div>
              <!-- h3>Locations</h3 -->
              <!--div id="loc"></div -->
                <script type="text/javascript">
                var chart2 = new chartRT();
                  chart2.xText = "Seconds";
                  chart2.yText = "Value";
                  chart2.titleText = "Random Series";
                  
                  chart2.Ticks = 15;
                  chart2.TickDuration = 1000;
                  chart2.MaxValue = 10;
                  chart2.addSeries(1)
                  
                  var update = function (value) 
                  {
                      for (Name in chart2.chartSeries) 
                      {
                          chart2.chartSeries[Name] = value * 10;
                      }
                  }
              </script>
            <!-- /div -->

          </div>



         </div>

      </div>
    </div>
    

    <footer>
         
      <div class="container">
        <p>
          &copy; Developed with love by <a href="http://www.shivambansal.com">Shivam Bansal</a>.
        </p>
      </div>

    </footer>
    
     
  <script type="text/javascript" charset="utf-8">


        

    </script>
 
  </body>
</html>
{% endif %}

{% if home %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
  
  </head>
  <body>
    
    <header>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            
            
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
            <div class="nav-collapse collapse">
              
              <ul class="nav pull-left">
                <li><a href="#">Tweetipy</a></li>
              </ul>

              <form class="nav" action="" method="POST" name="hashform">
                <input type="text" name="ht" placeholder="Enter Hash Tag" id="emailbox">
                <input type="submit" class="btn btn-primary" value="Submit" id="butn"> 
              </form> 

             

            </div>

          </div>
        </div>
      </div>
    </header>
  </body>
</html>
{% endif %}