{% if not home %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/test'; 

            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            
            socket.on('my response', function(msg) {
            

            var res = JSON.parse(msg.jss)

            twetC = document.getElementById('twetC');
            twetC.innerHTML = res.tweet_count;

            hash = document.getElementById('hash');
            hash.innerHTML = res.hashtags_count; 

            ment = document.getElementById('ment');
            ment.innerHTML = res.mentions_count; 

            tuser = document.getElementById('tuser');
            tuser.innerHTML = res.user_count; 

            $('#birds').prepend('<br>'+res.original_tweet+'</br>')

            poss = document.getElementById('poss');
            poss.innerHTML = res.total_positive_words;

            negs = document.getElementById('negs');
            negs.innerHTML = res.total_negative_words;

            atl = document.getElementById('atl');
            atl.innerHTML = res.average_tweet_length;  
            
            });

        });
    </script>

  </head>
  <body>
    
    <header>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            
            
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
            <div class="nav-collapse collapse">        
              
              <ul class="nav pull-left">
                <li><a href="#">Tweetipy</a></li>
              </ul>

              <form class="nav" action="" method="POST" name="hashform">
                <input type="text" name="ht" placeholder="Enter Hash Tag" id="emailbox">
                <input type="submit" class="btn btn-primary" value="Submit" id="butn"> 
              </form>                  

             

            </div>

          </div>
        </div>
      </div>
    </header>
  
    <div class="content">
      <div class="container" id="middiv">
        <h2 align="center">Real Time Tweet Analysis for {{ tag }}</h2>
         <br>         

         <div id="mygrid">
          <div id="twetdiv">

              <table>
                <tr>
                  <td><h4>Tweets Streamed&nbsp;</h4></td><td><h5><div id="twetC"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Hashtags Tracked&nbsp;</h4></td><td><h5><div id="hash"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Mentions Count&nbsp;</h4></td><td><h5><div id="ment"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Tweeting Users&nbsp;</h4></td><td><h5><div id="tuser"></div></h5></td>
                </tr>

                <tr>
                  <td><h4>Positive Words&nbsp;</h4></td><td><h5><div id="poss"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Negative Words&nbsp;</h4></td><td><h5><div id="negs"></div></h5></td>
                  <td>&nbsp;&nbsp;</td>
                  <td><h4>Avg Tweet Length&nbsp;</h4></td><td><h5><div id="atl"></div></h5></td>
                </tr>

              </table>

            <hr>

            <h3>Streaming</h3>
            <div id="birds">
            </div>
          </div>
          
          <div id="d3sec">
            <h1>Hello</h1>
            <div id="grph">
            </div>
          </div>



         </div>

      </div>
    </div>
    

    <footer>
         
      <div class="container">
        <p>
          &copy; Developed with love by Shivam Bansal.
        </p>
      </div>

    </footer>
    
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/boot-business.js"></script>
 
  </body>
</html>
{% endif %}

{% if home %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
  </head>
  <body>
    
    <header>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            
            
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
            <div class="nav-collapse collapse">
              
              <ul class="nav pull-left">
                <li><a href="#">Tweetipy</a></li>
              </ul>

              <form class="nav" action="" method="POST" name="hashform">
                <input type="text" name="ht" placeholder="Enter Hash Tag" id="emailbox">
                <input type="submit" class="btn btn-primary" value="Submit" id="butn"> 
              </form> 

             

            </div>

          </div>
        </div>
      </div>
    </header>
  </body>
</html>
{% endif %}